.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}
.postWrapper {
  padding: 10px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postProfile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.postDate {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.postCenter {
  margin: 20px 0;
}
.postImg {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  object-fit: contain;
  max-height: 500px;
}
.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.postButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postButtomLeft {
  display: flex;
  align-items: center;
}
.postlikecounter {
  font-size: 15px;
}

.postCommentText {
  border-bottom: 1px dashed gray;
  font-size: 15px;
  cursor: pointer;
}
